body {
  background-color: #eff2e6;
  color: #3b3b3b;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;

  h1 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 40px;
  }

  p,
  ul {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  ul {
    list-style-position: inside;
    list-style-type: disc;
  }
}

header {
  padding: 40px 80px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 80px;
}

.section-hero {
  h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 60px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }
}

.section-download {
  background-color: #f8faf2;
}

.column-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

  .column {
    width: 50%;
  }
}

.sticky {
  position: sticky;
  top: 0;
}

.app-images {
  background-image: url("./assets/screenshot-features.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.logo {
  background-image: url("./assets/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-bottom: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.inline-logo {
  font-family: kansasnew, serif;
  font-weight: 600;

  span {
    font-weight: 300;
  }
}

.download-links {
  a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 200px;
    margin-right: 40px;
    text-indent: -9999px;
    width: 200px;

    &.ios {
      background-image: url("./assets/app-store-badge.svg");
    }

    &.android {
      background-image: url("./assets/google-play-badge.svg");
    }
  }
}

@media only screen and (max-width: 1000px) {
  section {
    min-height: 0;
  }

  .column-container {
    flex-direction: column-reverse;

    .column {
      width: 100%;
    }
  }

  .sticky {
    position: static;
  }

  .app-images {
    height: auto;
    margin: 0 auto;
    padding-bottom: 80%;
  }
}
